body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#lightBulbBright {
    width: 80px;
    height: 80px;
    border-radius: 90px;
}

#lightBulbLayer {
    width: 80px;
    height: 80px;
    border-radius: 90px;
}

#lightBulb {
    width: 80px;
    height: 80px;
    border-radius: 90px;
    border: 1px black solid;
}

.on {
    background-color: rgba(255, 255, 255, 1);
}

.off {
    background-color: gray;
}

.led {
    background-color: rgba(255, 0, 0, 0.75);
}

.saving {
    background-color: rgba(147, 255, 224, 0.75);
}

.default {
    background-color: rgba(255, 206, 81, 0.75);
}


.light{
    width: 80px;
    height: 80px;
    border-radius: 90px;
    border: 1px black solid;
    margin-bottom: 5px;
}


.traffic-lights__wrapper {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.traffic-lights {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 600px;
    background-color: #444444;
    border-radius: 15px;
}

.traffic-lights__sticks {
    top: 33%;
    left: 0;
    width: 44.8%;
    height: 5px;
    position: absolute;
}

.traffic-lights__sticks div {
    margin-top: 100px;
    background-color: #111111;
    height: 5px;
}

.yellow {
    transition-duration: 400ms;
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 50%;
}

.green {
    transition-duration: 400ms;
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 50%;
}

.red {
    transition-duration: 400ms;
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 50%;
}

.time__button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: 1px solid red;
    width: 100px;
    height: 50px;
    font-size: 0.1em;
}

.time__stopwatch {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.timer__content {

    justify-content: center;
    align-items: center;
    gap: 25px;
}

.traffic-lights__button {
    all: unset;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 40px;
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 5px;
    background-color: #777777;
    color: white;
}

.traffic-lights__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 25%;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 38%;
    background-color: black;
    z-index: 10;
}

.time__wrapper {
    position: relative;
    font-family: digital, sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #111111;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #111111 solid 1px;
    font-size: 8em;
}
.products {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    border: #111111 solid 1px;
    background-color: white;
}

.products__nav {
    font-family: jbm, sans-serif;
    height: 100px;
    font-size: 1.5em;
    color: black;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.products__nav a {
    transition-duration: 200ms;
    border: 1px solid transparent;
}

.products__nav a{
    padding: 25px;
    cursor: pointer;
    border-color: white;
}

.products__main {
    color: black;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    border: #111111 solid 1px;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 25px;
}

.products__form_add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    border: #111111 solid 1px
}

.products__form_add input, .remove__input {
    all: unset;
    width: 300px;
    height: 50px;
    transition-duration: 200ms;
    outline: 1px solid white;
    padding-left: 25px;
}

.products__form_add input:focus, .remove__input:focus {
    color: black;
    background-color: white;
}

.products__form_add button, .remove__button {
    all: unset;
    width: 325px;
    height: 50px;
    transition-duration: 200ms;
    color: #444444;
    background-color: #FFFFFF;
    text-align: center;
    border: #111111 solid 1px
}


.catalog__product {
    width: 600px;
    padding: 10px;
    outline: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    font-size: 2em;
    border: #111111 solid 1px
}

.follow {
    height: auto;
    border: #111111 solid 1px;
    background-color: white;
}

.product__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: #111111 solid 1px;
    align-items: center;
}

.catalog__products-name {
    all: unset;
    width: 300px;
    height: 50px;
    transition-duration: 200ms;
    outline: 1px solid white;
    border: #111111 solid 1px;
    padding-left: 25px;
}

.follow-page__wrapper {
    background-color: #3EECAC;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #111111 solid 1px;
}

.refresh__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: #111111 solid 1px;
    flex-direction: column;
}

.refresh__form input {
    all: unset;
    width: 300px;
    height: 50px;
    transition-duration: 200ms;
    outline: 1px solid white;
    border: #111111 solid 1px;
    padding-left: 25px;
}

.refresh__form input:focus {
    color: black;
    border: #111111 solid 1px;
    background-color: white;
}

.refresh__form button {
    all: unset;
    width: 325px;
    height: 50px;
    transition-duration: 200ms;
    color: #444444;
    background-color: #FFFFFF;
    border: #111111 solid 1px;
    text-align: center;
}

.searched__products {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #111111 solid 1px;
    gap: 25px;
}

.order-btn {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 325px;
    height: 50px;
    transition-duration: 200ms;
    color: #444444;
    background-color: #FFFFFF;
    text-align: center;
    border: #111111 solid 1px;
}